HTML body {
	margin: 0;
	padding: 0;
	font-family: 'Slabo 27px';
}

#headBar{
	width: 100%;
	height:75px;
	position: fixed;
}

#Block{
	width: 100%;
	height:20%;
	background-color: #E51B24;
	display: inline-block;
}

#SpanBar{
	width:100%;
	height:80%;
	background-color: #1D1D1D;
	display: inline-block;
	color: #CCCCCC;
	overflow: hidden;
}

#uaImage{
	width: 50px;
	height: 50px;
	display:inline-block;
	float: left;
}

#textTop{
	float: right;
	margin-right: 80%;
}

#sidesection{
	width: 20%;
	height: auto;
	margin-top: 100px;
	--background-color: #3FB6CC;
	float: right;
	margin-right: 10%;
	margin-left: 70%;
	display: inline-block;
	position: fixed;
	
}

#navBox{
	width: 100%;
	background-color: #CCCCCC;
	height: 350px;
	--display: inline-block;
	position: none;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	text-align: center;
	font-size: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #CCCCCC;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #F8F8F8;
  color: #1D1D1D;
}


#colorBlindSlides{
	width: 100%;
	height: 200px;
	background-color: #CCCCCC;
	--display: inline-block;
	margin-top: 50px;
	position: none;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

#ContentScroll{
	width:60%;
	height:4000px;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 100px;
	background-color: #CCCCCC;
	float: left;
	display: inline-block;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

#title{
	text-align: center;
	color: #1D1D1D;
}

#footer{
	width: 100%;
	height: 200px;
	background-color: green;
	display: inline-block;
}

#SpanBar2{
	width:100%;
	height:100%;
}

#footLeft{
	width: 30%;
	height: 100%;
	background-color: #F8F8F8;
	display: inline-block;
	float: left;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#footRight{
	width: 70%;
	height: 100%;
	background-color: #D3D3D3;
	display: inline-block;
	float: right;
}